[Unit]
Description=Control your HiFi receiver via a web interface
Documentation=https://ogris.de/ampcontrol/
Requires=local-fs.target
Conflicts=shutdown.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/sbin/ampctrld -d -u nobody
Restart=always
